{
  "frontend": {
    "FRONTEND_IMAGE": "",
    "APP_PORT": 0,
    "APP_PORT_CONTAINER": 0,
    "APP_HOST": ""
  },
  "backend": {
    "BACKEND_IMAGE": "",
    "APP_PORT": 0,
    "APP_PORT_CONTAINER": 0,
    "APP_HOST": ""
  },
  "DOCKER": {
    "username": "",
    "password": ""
  },
  "GLOBAL": {
    "registry": "",
    "registytagname": ""
  }
}